<%- include('partials/header') %>

<main class="main-content">
  <div class="container">
    <div class="error-container">
      <div class="error-code"><%= errorCode %></div>
      <div class="error-message"><%= errorMessage %></div>
      <a href="/" class="error-link">Go Back Home</a>
      <div class="error-gif">
        <img src="/images/sagat-error.gif" alt="Sagat Error" />
      </div>
    </div>
  </div>
</main>
