<%- include('partials/header') %>
<main class="main-content">
  <div class="container landing-container">
    <div class="landing-center-group">
      <div class="landing-akuma">
        <img src="/images/akuma-ts-taunt1.gif" alt="Akuma" class="akuma-img" />
      </div>
      <h1 class="landing-name"><%= data.name %></h1>
      <p class="landing-role"><%= data.role %></p>
      <div class="landing-btn-group">
        <a href="/about" class="explore-btn">Explore</a>
      </div>
    </div>
  </div>
</main>
